header, footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

main {
  padding: 2em;
}

h2 {
  color: #333;
}
